apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
    - http:
        paths:
          - path: /admin/?(.*)
            backend:
              serviceName: admin-cluster-ip-service
              servicePort: 8000
          # - path: /api/?(.*)
          #   backend:
          #     serviceName: gateway-cluster-ip-service
          #     servicePort: 4000
          # - path: /?(.*)
          #   backend:
          #     serviceName: frontend-cluster-ip-service
          #     servicePort: 3000
